*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;

}



.solve {
    background-color: #4CAF50;
}

.solved {
    background-color: #e7e7e7;
}